    <nav>
        <div class="site-title">
            <a href="/"><h1>Talking Tom</h1></a>
            <p>Where You Get All Your Gist For Free</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">new Blog</a></li>
        </ul>
    </nav>