<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
     <%- include('./partials/nav.ejs') %>
     
    <div class="about content">
        <h2>About Us</h2>
        <p>We are an advocate for the people. We tell you what the people are saying.</p>
        
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>